body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
     -ms-user-select: none;
         user-select: none;
    padding-top: 30px;
    font-family: Arial;
    background-color: turquoise;
    width: 500px;
    margin: auto;
    text-align: center;
}                                           

p {
    font-size: 20px;
    color: white;
    display: block;
    margin: 5px;
}

#space {
    margin: auto;
    text-align:center;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    border:5px solid;
    border-radius:10px;
    background-color: greenyellow;
    color: white;
    width:389px;
    height:60px;
}

table {
    margin-top: 10px;
    border: 2px solid;
    border-radius: 5px;
}

td {
    border:1px solid;
}

#numbers {
    margin: auto;
    text-align:center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border:5px solid;
    border-radius:10px;
    background-color:white;
    width:200px;
    height:60px;    
}

#upgradeLevel {
    margin: auto;
    text-align:center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border:5px solid;
    border-radius:10px;
    background-color:lightpink;
    width:300px;
    height:50px;    
}


.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }